
.container{
    width: 60%;
    margin: auto;
    margin-bottom: 5vh;
    
}
form{
    /* opacity: 0.5; */
    
}
#spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
}
#warring{
    display: none;
}
nav{
    border-radius: 0px 0px 10px 10px;
}
#result{
    margin: auto;
    
    width: 90%;
    height: 60%;;
}
@media(max-width: 685px){
    .container{
        width: 90%;
    }
}